<div class="header-top compact-hidden">
    <div class="container">
        <div class="row">
            <div class="header-top-right collapsed-block text-right  col-sm-6 col-xs-12 compact-hidden">
                <h5 class="tabBlockTitle visible-xs">More<a class="expander " href="#TabBlock-1"><i
                        class="fa fa-angle-down"></i></a></h5>
                <div class="tabBlock">
                    <if condition="($Think.session.user_id eq null)">
                        <ul class="top-link list-inline" id="lo">
                            <li class="account" id="my_account">
                                <a href="#" class="btn btn-xs dropdown-toggle"
                                   data-toggle="dropdown"> <span>请先登录</span> <span
                                        class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu ">
                                    <li class="registration"><a href="#"><i class="fa fa-user"></i> 注 册</a></li>
                                    <li class="login"><a href="#"><i class="fa fa-pencil-square-o"></i> 登 录</a>
                                    </li>
                                </ul>
                        </ul>
                        <else/>
                        <ul class="top-link list-inline" id="ur">
                            <li class="account" id="my_account">
                                <a href="#" class="btn btn-xs dropdown-toggle"
                                   data-toggle="dropdown" id="username"> <span>{$Think.session.username}</span>
                                    <span
                                            class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu ">
                                    <if condition="($Think.session.company_user_id eq null)">
                                        <li><a href=""><i class="fa fa-user"></i> 个人中心</a></li>
                                        <else/>
                                        <li><a href="{:U('Company/company_center')}"><i class="fa fa-user"></i> 个人中心</a>
                                        </li>
                                    </if>
                                    <li><a href="{:U('Index/logout')}"><i class="fa fa-pencil-square-o"></i> 退出登录</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="wishlist"><a href="#" id="wishlist-total"
                                                    class="top-link-wishlist"><span> 收藏 (<span id="collect_num">{$count_num}</span>)</span></a>
                            </li>
                            <li class="checkout"><a href="#" class="top-link-checkout"
                                                    title="Checkout"><span>结算</span></a>
                            </li>
                            <li class="login"><a href="#" title="Shopping Cart"><span>购物车</span></a></li>
                        </ul>
                    </if>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Header Top -->
<include file="public/regedit"/>
<include file="public/login"/>
<!-- Header center -->
<div class="header-center left">
    <div class="container">
        <div class="row">
            <!-- Logo -->
            <div class="navbar-logo col-md-3 col-sm-12 col-xs-12">
                <a href="{:U('Index/index')}"><img src="__PUBLIC__/Uploads/logo/logo.png" width="55%"
                                                   title="Your Store" alt="Your Store"/></a>
            </div>
            <!-- //end Logo -->

            <!-- Search -->
            <div id="sosearchpro" class="col-sm-7 search-pro">
                <div id="search0" class="search input-group">
                    <div class="select_category filter_type icon-select">
                        <select class="no-border" name="category_id" id="category_id">
                            <option value="0">全 部</option>
                            <volist name="list" id="type">
                                <option value="{$type.type_id}">{$type.name}</option>
                            </volist>
                        </select>
                    </div>
                    <input class="autosearch-input form-control" id="search_value" type="text" value=""
                           size="50"
                           autocomplete="off" placeholder="搜 索" name="search">
                    <span class="input-group-btn">
						<button onclick="search_item()" class="button-search btn btn-primary"><i
                                class="fa fa-search"></i></button>
						</span>
                </div>
                <input type="hidden" name="route" value="product/search"/>
            </div>
            <!-- //end Search -->
            <div class="col-md-2 col-sm-5 col-xs-12 shopping_cart pull-right">
                <!--cart-->
                <div id="cart" class=" btn-group btn-shopping-cart">
                    <a data-loading-text="Loading..." class="top_cart dropdown-toggle" data-toggle="dropdown">
                        <div class="shopcart">
                            <span class="handle pull-left"></span>
                            <span class="title">我的购物车</span>
                            <if condition="($Think.session.user_id eq null)">
                                <p class="text-shopping-cart cart-total-full">请先登录 </p>
                                <else/>
                                <p class="text-shopping-cart cart-total-full"><span
                                        id="cart_num">{$cart_data.cart_num}</span>件物品 - 共 ￥<span id="total_price">{$cart_data.total_price}</span>
                                    元</p>
                            </if>
                        </div>
                    </a>

                    <ul class="tab-content content dropdown-menu pull-right shoppingcart-box" role="menu">
                        <if condition="($Think.session.user_id eq null)">
                            <p class="text-center"><span>你还未登录，请先登录</span></p>
                            <p class="text-center">
                                <a
                                        class="btn btn-mega checkout-cart login" href="#"><i class="fa fa-share"></i>立即登录</a>
                                <a
                                        class="btn btn-mega checkout-cart registration" href="#"><i
                                        class="fa fa-share"></i>立即注册</a>
                            </p>
                            <else/>
                            <li>
                                <table class="table table-striped">
                                    <tbody>
                                    <volist name="cart_list" id="cart">
                                        <tr id="cart_{$cart.commodity_id}">
                                            <td class="text-center" style="width:70px">
                                                <a href="{:U('Project/project_detail?id='.$cart['commodity_id'])}"> <img
                                                        src="__PUBLIC__/Uploads/commodity_image/{$cart.voo.small_pic}"
                                                        style="width:70px" alt="{$cart.voo.name}"
                                                        title="{$cart.voo.name}" class="preview"> </a>
                                            </td>
                                            <td class="text-left"><a class="cart_product_name"
                                                                     href="{:U('Project/project_detail?id='.$cart['commodity_id'])}">{$cart.voo.name}</a>
                                            </td>
                                            <td class="text-center"> x{$cart.commodity_num}</td>
                                            <td class="text-center"> ￥{$cart.voo.price}</td>
                                            <td class="text-right">
                                                <a href="{:U('Project/project_detail?id='.$cart['commodity_id'])}"
                                                   class="fa fa-edit"></a>
                                            </td>
                                            <td class="text-right">
                                                <a onclick="deleteCart('{$cart.commodity_id}')"
                                                   class="fa fa-times fa-delete"></a>
                                            </td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <div>
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td class="text-left"><strong>商品数量</strong>
                                            </td>
                                            <td class="text-right"><span
                                                    id="cart_num_table">{$cart_data.cart_num}</span> 件
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><strong>总价</strong>
                                            </td>
                                            <td class="text-right">￥<span id="total_price_table">{$cart_data.total_price}</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p class="text-right"><a
                                            class="btn btn-mega checkout-cart" href="#"><i
                                            class="fa fa-share"></i>去结算</a>
                                    </p>
                                </div>
                            </li>
                        </if>
                    </ul>
                </div>
                <!--//cart-->
            </div>
            <!-- Secondary menu -->
        </div>

    </div>
</div>