<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic page needs
	============================================ -->
    <title>{$user_detail.username}- 头像</title>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow"/>

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="__PUBLIC__/frontdesk/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="__PUBLIC__/frontdesk/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="__PUBLIC__/frontdesk/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/frontdesk/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="__PUBLIC__/frontdesk/ico/favicon.png">


    <script>
        var AppUrl = "__APP__";
    </script>

    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="__PUBLIC__/Ajax/userAjax.js"></script>
    <script src="__PUBLIC__/Ajax/CartAjax.js"></script>


    <link rel="stylesheet" href="__PUBLIC__/PostbirdAlertBox/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/PostbirdAlertBox/css/postbirdAlertBox.css">
    <!-- Libs CSS
	============================================ -->
    <link rel="stylesheet" href="__PUBLIC__/frontdesk/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/frontdesk/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/css/themecss/lib.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">


    <link rel="stylesheet" href="__PUBLIC__/ImgCropping/css/cropper.min.css">
    <link rel="stylesheet" href="__PUBLIC__/ImgCropping/css/ImgCropping.css">
    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/frontdesk/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/css/themecss/so-listing-tabs.css" rel="stylesheet">

    <link id="color_scheme" href="__PUBLIC__/frontdesk/css/theme.css" rel="stylesheet">

    <link href="__PUBLIC__/frontdesk/css/responsive.css" rel="stylesheet">


</head>

<body class="res layout-subpage banners-effect-6">


<div id="wrapper" class="wrapper-full ">
    <!-- Header Container  -->
    <header id="header" class=" variantleft type_1">
        <include file="public/header"/>
        <!-- //Header center -->
        <!-- Header Bottom -->
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <!-- Main menu -->
                    <div class="megamenu-hori header-bottom-right  col-md-9 col-sm-6 col-xs-12 ">
                        <div class="responsive so-megamenu ">
                            <nav class="navbar-default">
                                <div class=" container-megamenu  horizontal">
                                    <div class="navbar-header">
                                        <button type="button" id="show-megamenu" data-toggle="collapse"
                                                class="navbar-toggle">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        分类
                                    </div>

                                    <div class="megamenu-wrapper">
                                        <span id="remove-megamenu" class="fa fa-times"></span>
                                        <div class="megamenu-pattern">
                                            <div class="container">
                                                <ul class="megamenu " data-transition="slide" data-animationtime="250">
                                                    <li class="home hover">
                                                        <a href="{:U('Index/index')}">主 页</a>
                                                    </li>
                                                    <volist name="list" id="type">
                                                        <li class="with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a href="{:U('Project/project_type?id='.$type['type_id'])}"
                                                               class="clearfix">
                                                                <strong>{$type.name}</strong>
                                                                <b class="caret"></b>
                                                            </a>
                                                            <div class="sub-menu" style="width: 15%; ">
                                                                <div class="content">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <ul class="row-list">
                                                                                <volist name="type[voo]"
                                                                                        id="subsetType">
                                                                                    <li><a class="subcategory_item"
                                                                                           href="{:U('Project/project_child_type?id='.$subsetType['subsettype_id'])}">{$subsetType.name}</a>
                                                                                    </li>
                                                                                </volist>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </volist>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- //end Main menu -->
                </div>
            </div>

        </div>

        <!-- Navbar switcher -->
        <!-- //end Navbar switcher -->
    </header>
    <!-- //Header Container  -->
    <!-- Main Container  -->
    <div class="main-container container">
        <div class="row">
            <!--Left Part Start -->
            <aside class="col-sm-4 col-md-3" id="column-left">
                <div class="module menu-category titleLine">
                    <h3 class="modtitle">{$user_detail.username}</h3>
                    <div class="modcontent">
                        <div class="box-category">
                            <ul id="cat_accordion" class="list-group">
                                <li>
                                    <a href="user_center" class="cutom-parent">我的个人信息</a><span
                                        class="dcjq-icon"></span>
                                </li>
                                <li>
                                    <a href="user_head_image" class="cutom-parent">我的头像</a><span
                                        class="dcjq-icon"></span>
                                </li>
                                <li>
                                    <a href="user_order" class="cutom-parent">我的订单</a><span
                                        class="dcjq-icon"></span>
                                </li>
                                <li>
                                    <a href="user_collect" class="cutom-parent">我的收藏</a><span
                                        class="dcjq-icon"></span>
                                </li>
                                <li>
                                    <a href="user_follow" class="cutom-parent">我的关注</a><span
                                        class="dcjq-icon"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <!--Left Part End -->
            <!--Middle Part Start-->
            <div id="content" class="col-md-9 col-sm-8">
                <div id="content" class="col-sm-12">
                    <form id="user_detail_form" action="" method="post" enctype="multipart/form-data"
                          class="form-horizontal account-register clearfix">
                        <fieldset id="account">
                            <legend>我的头像</legend>
                            <div class="form-group">
                                <div style="float: left;margin-left: 15%">
                                    <label class="l-btn" >当前头像</label>
                                    <div style="width: 200px;height: 200px;border: solid 1px #555;margin-top: 10px;overflow: hidden;">
                                        <img src="__PUBLIC__/Uploads/user_image/{$user_detail.image}" width="100%">
                                    </div>
                                </div>
                                <div style="float: left;margin-left: 10%">
                                    <label id="replaceImg_small" class="l-btn">修改头像</label>
                                    <div style="width: 200px;height: 200px;border: solid 1px #555;margin-top: 10px;overflow: hidden;">
                                        <img id="finalImg_small" src="" width="100%">
                                    </div>
                                </div>
                                <!--图片裁剪框 start-->
                                <div style="display: none" class="tailoring-container">
                                    <div class="black-cloth" onclick="closeTailor(this)"></div>
                                    <div class="tailoring-content">
                                        <div class="tailoring-content-one">
                                            <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
                                                <input type="file" accept="image/jpg,image/jpeg,image/png" name="file"
                                                       id="chooseImg" class="hidden"
                                                       onchange="selectImg(this)">
                                                选择图片
                                            </label>
                                            <div class="close-tailoring" onclick="closeTailor(this)">×</div>
                                        </div>
                                        <div class="tailoring-content-two">
                                            <div class="tailoring-box-parcel">
                                                <img id="tailoringImg">
                                            </div>
                                            <div class="preview-box-parcel">
                                                <p>图片预览：</p>
                                                <div class="square previewImg"></div>
                                                <div class="circular previewImg"></div>
                                            </div>
                                        </div>
                                        <div class="tailoring-content-three">
                                            <label class="l-btn cropper-reset-btn">复位</label>
                                            <label class="l-btn cropper-rotate-btn">旋转</label>
                                            <label class="l-btn cropper-scaleX-btn">换向</label>
                                            <label class="l-btn sureCut" id="sureCut">确定</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="buttons">
                            <div class="pull-right">
                                <input type="button" value="更新" class="btn btn-primary" onclick="save_user_header('{$user_detail.user_id}')">
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <!--Middle Part End-->
    </div>
    <!-- Footer Container -->
    <include file="public/foot"/>
    <!-- //end Footer Container -->

</div>

<!-- Include Libs & Plugins
	============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/libs.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/unveil/jquery.unveil.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/datetimepicker/moment.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/jquery-ui/jquery-ui.min.js"></script>

<script src="__PUBLIC__/ImgCropping/js/cropper.min.js"></script>
<script src="__PUBLIC__/Ajax/ImgCroppingAjax.js"></script>
<!-- Theme files
============================================ -->



<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/addtocart.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/application.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/cpanel.js"></script>
<script src="__PUBLIC__/PostbirdAlertBox/js/postbirdAlertBox.min.js"></script>

</body>
</html>

