<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic page needs
	============================================ -->
    <title>{$user_detail.username}- 收藏</title>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow"/>

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="__PUBLIC__/frontdesk/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="__PUBLIC__/frontdesk/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="__PUBLIC__/frontdesk/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/frontdesk/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="__PUBLIC__/frontdesk/ico/favicon.png">


    <script>
        var AppUrl = "__APP__";
        var check_user_id = "{$Think.session.user_id}"
    </script>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="__PUBLIC__/Ajax/CartAjax.js"></script>
    <script src="__PUBLIC__/Ajax/OrderAjax.js"></script>
    <script src="__PUBLIC__/Ajax/indexAjax.js"></script>

    <link rel="stylesheet" href="__PUBLIC__/PostbirdAlertBox/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/PostbirdAlertBox/css/postbirdAlertBox.css">
    <!-- Libs CSS
	============================================ -->
    <link rel="stylesheet" href="__PUBLIC__/frontdesk/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/frontdesk/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/css/themecss/lib.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/frontdesk/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/css/themecss/so-listing-tabs.css" rel="stylesheet">

    <link id="color_scheme" href="__PUBLIC__/frontdesk/css/theme.css" rel="stylesheet">

    <link href="__PUBLIC__/frontdesk/css/responsive.css" rel="stylesheet">


</head>

<body class="res layout-subpage banners-effect-6">


<div id="wrapper" class="wrapper-full ">
    <!-- Header Container  -->
    <header id="header" class=" variantleft type_1">
        <include file="public/header"/>
        <!-- //Header center -->
        <!-- Header Bottom -->
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <!-- Main menu -->
                    <div class="megamenu-hori header-bottom-right  col-md-9 col-sm-6 col-xs-12 ">
                        <div class="responsive so-megamenu ">
                            <nav class="navbar-default">
                                <div class=" container-megamenu  horizontal">
                                    <div class="navbar-header">
                                        <button type="button" id="show-megamenu" data-toggle="collapse"
                                                class="navbar-toggle">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        分类
                                    </div>

                                    <div class="megamenu-wrapper">
                                        <span id="remove-megamenu" class="fa fa-times"></span>
                                        <div class="megamenu-pattern">
                                            <div class="container">
                                                <ul class="megamenu " data-transition="slide" data-animationtime="250">
                                                    <li class="home hover">
                                                        <a href="{:U('Index/index')}">主 页</a>
                                                    </li>
                                                    <volist name="list" id="type">
                                                        <li class="with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a href="{:U('Project/project_type?id='.$type['type_id'])}"
                                                               class="clearfix">
                                                                <strong>{$type.name}</strong>
                                                                <b class="caret"></b>
                                                            </a>
                                                            <div class="sub-menu" style="width: 15%; ">
                                                                <div class="content">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <ul class="row-list">
                                                                                <volist name="type[voo]"
                                                                                        id="subsetType">
                                                                                    <li><a class="subcategory_item"
                                                                                           href="{:U('Project/project_child_type?id='.$subsetType['subsettype_id'])}">{$subsetType.name}</a>
                                                                                    </li>
                                                                                </volist>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </volist>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- //end Main menu -->
                </div>
            </div>

        </div>

        <!-- Navbar switcher -->
        <!-- //end Navbar switcher -->
    </header>
    <!-- //Header Container  -->
    <!-- Main Container  -->
    <div class="main-container container">
        <div class="row">
            <!--Left Part Start -->
            <aside class="col-sm-4 col-md-3" id="column-left">
                <div class="module menu-category titleLine">
                    <h3 class="modtitle">{$user_detail.username}</h3>
                    <div class="modcontent">
                        <div class="box-category">
                            <ul id="cat_accordion" class="list-group">
                                <li>
                                    <a href="user_center" class="cutom-parent">我的个人信息</a><span
                                        class="dcjq-icon"></span>
                                </li>
                                <li>
                                    <a href="user_head_image" class="cutom-parent">我的头像</a><span
                                        class="dcjq-icon"></span>
                                </li>
                                <li>
                                    <a href="user_order" class="cutom-parent">我的订单</a><span
                                        class="dcjq-icon"></span>
                                </li>
                                <li>
                                    <a href="user_child" class="cutom-parent">我的儿童</a><span
                                        class="dcjq-icon"></span>
                                </li>
                                <li>
                                    <a href="user_collect" class="cutom-parent">我的收藏</a><span
                                        class="dcjq-icon"></span>
                                </li>
                                <li>
                                    <a href="user_follow" class="cutom-parent">我的关注</a><span
                                        class="dcjq-icon"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <!--Left Part End -->
            <!--Middle Part Start-->
            <div id="content" class="col-md-9 col-sm-8">
                <div id="content" class="col-sm-12">
                    <form id="user_detail_form" action="" method="post" enctype="multipart/form-data"
                          class="form-horizontal account-register clearfix">
                        <fieldset id="account">
                            <legend>我的收藏</legend>
                            <div class="products-list row grid">
                                <volist name="collect" id="collect">
                                    <div class="product-layout col-md-4 col-sm-6 col-xs-12 " id="my_collect_{$collect.commodity_id}">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container">
                                                    <img data-src="image/demo/shop/product/e11.jpg"
                                                         src="__PUBLIC__/Uploads/commodity_image/{$collect.small_pic}"
                                                         alt="Apple Cinema 30&quot;" class="img-responsive"/>
                                                </div>
                                                <!--end countdown box-->
                                                <!--full quick view block-->
                                                <a class="quickview  visible-lg" data-fancybox-type="iframe" target="_blank"
                                                   href="{:U('Project/project_detail?id='.$collect['commodity_id'])}"> 查看详情</a>
                                                <!--end full quick view block-->
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a target="_blank"
                                                           href="{:U('Project/project_detail?id='.$collect['commodity_id'])}">{$collect.name}</a>
                                                    </h4>
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <if condition="($collect.starnum eq 0)">
                                                                <span style="color: #ebdb2c"> 暂无评价</span>
                                                                <else/>
                                                                <span class="fa fa-stack">
                                                                                    <if condition="($collect.starnum gt 0)">
                                                                                        <i class="fa fa-star fa-stack-1x"></i>
                                                                                        <else/>
                                                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                                                    </if>
                                                                                </span>

                                                                <span class="fa fa-stack">
                                                                                    <if condition="($collect.starnum gt 1)">
                                                                                        <i class="fa fa-star fa-stack-1x"></i>
                                                                                        <else/>
                                                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                                                    </if>
                                                                                </span>

                                                                <span class="fa fa-stack">
                                                                                    <if condition="($collect.starnum gt 2)">
                                                                                        <i class="fa fa-star fa-stack-1x"></i>
                                                                                        <else/>
                                                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                                                    </if>
                                                                                </span>

                                                                <span class="fa fa-stack">
                                                                                    <if condition="($collect.starnum gt 3)">
                                                                                        <i class="fa fa-star fa-stack-1x"></i>
                                                                                        <else/>
                                                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                                                    </if>
                                                                                </span>

                                                                <span class="fa fa-stack">
                                                                                    <if condition="($collect.starnum gt 4)">
                                                                                        <i class="fa fa-star fa-stack-1x"></i>
                                                                                        <else/>
                                                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                                                    </if>
                                                                                </span>
                                                            </if>
                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        <span class="price-new">￥{$collect.price}</span>
                                                        <!--<span class="price-old">$122.00</span>-->
                                                        <!--<span class="label label-percent">-40%</span>-->
                                                    </div>
                                                    <div class="description item-desc hidden">
                                                        <p>{$collect.intro}</p>
                                                    </div>
                                                </div>
                                                <div class="button-group">
                                                    <button class="wishlist" type="button"
                                                            data-toggle="tooltip"
                                                            id="collect_btn_{$collect.commodity_id}"
                                                            onclick="collect('1','{$collect.commodity_id}')">
                                                        <i class="fa fa-heart"></i>
                                                        <span id="collect_font_{$collect.commodity_id}"> 取消收藏</span>
                                                    </button>
                                                </div>
                                            </div><!-- right block -->

                                        </div>
                                    </div>
                                </volist>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>


        </div>
        <!--Middle Part End-->
    </div>
    <!-- Footer Container -->
    <include file="public/foot"/>
    <!-- //end Footer Container -->

</div>

<!-- Include Libs & Plugins
	============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/libs.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/unveil/jquery.unveil.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/datetimepicker/moment.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/jquery-ui/jquery-ui.min.js"></script>


<!-- Theme files
============================================ -->


<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/addtocart.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/application.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/cpanel.js"></script>
<script src="__PUBLIC__/PostbirdAlertBox/js/postbirdAlertBox.min.js"></script>

</body>
</html>

