<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic page needs
	============================================ -->
    <title>结算</title>
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow"/>

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="__PUBLIC__/frontdesk/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="__PUBLIC__/frontdesk/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="__PUBLIC__/frontdesk/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/frontdesk/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="__PUBLIC__/frontdesk/ico/favicon.png">


    <script>
        var AppUrl = "__APP__";
    </script>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="__PUBLIC__/Ajax/userAjax.js"></script>
    <script src="__PUBLIC__/Ajax/CartAjax.js"></script>
    <script src="__PUBLIC__/Ajax/OrderAjax.js"></script>

    <script src="__PUBLIC__/BeatPicker/js/BeatPicker.min.js"></script>
    <script src="__PUBLIC__/BeatPicker/js/prism.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/BeatPicker/css/BeatPicker.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/PostbirdAlertBox/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/PostbirdAlertBox/css/postbirdAlertBox.css">
    <!-- Libs CSS
	============================================ -->
    <link rel="stylesheet" href="__PUBLIC__/frontdesk/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/frontdesk/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/css/themecss/lib.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/frontdesk/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/frontdesk/css/themecss/so-listing-tabs.css" rel="stylesheet">

    <link id="color_scheme" href="__PUBLIC__/frontdesk/css/theme.css" rel="stylesheet">

    <link href="__PUBLIC__/frontdesk/css/responsive.css" rel="stylesheet">


</head>

<body class="res layout-subpage banners-effect-6">


<div id="wrapper" class="wrapper-full ">
    <!-- Header Container  -->
    <header id="header" class=" variantleft type_1">
        <include file="public/header"/>
        <!-- //Header center -->
        <!-- Header Bottom -->
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <!-- Main menu -->
                    <div class="megamenu-hori header-bottom-right  col-md-9 col-sm-6 col-xs-12 ">
                        <div class="responsive so-megamenu ">
                            <nav class="navbar-default">
                                <div class=" container-megamenu  horizontal">
                                    <div class="navbar-header">
                                        <button type="button" id="show-megamenu" data-toggle="collapse"
                                                class="navbar-toggle">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        分类
                                    </div>

                                    <div class="megamenu-wrapper">
                                        <span id="remove-megamenu" class="fa fa-times"></span>
                                        <div class="megamenu-pattern">
                                            <div class="container">
                                                <ul class="megamenu " data-transition="slide" data-animationtime="250">
                                                    <li class="home hover">
                                                        <a href="{:U('Index/index')}">主 页</a>
                                                    </li>
                                                    <volist name="list" id="type">
                                                        <li class="with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a href="{:U('Project/project_type?id='.$type['type_id'])}"
                                                               class="clearfix">
                                                                <strong>{$type.name}</strong>
                                                                <b class="caret"></b>
                                                            </a>
                                                            <div class="sub-menu" style="width: 15%; ">
                                                                <div class="content">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <ul class="row-list">
                                                                                <volist name="type[voo]"
                                                                                        id="subsetType">
                                                                                    <li><a class="subcategory_item"
                                                                                           href="{:U('Project/project_child_type?id='.$subsetType['subsettype_id'])}">{$subsetType.name}</a>
                                                                                    </li>
                                                                                </volist>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </volist>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- //end Main menu -->
                </div>
            </div>

        </div>

        <!-- Navbar switcher -->
        <!-- //end Navbar switcher -->
    </header>
    <!-- //Header Container  -->
    <!-- Main Container  -->
    <div class="main-container container">
        <div class="row">

            <div id="content" class="col-sm-12">
                <table class="table table-striped" style="text-align: center">
                    <tr>
                        <td>商品图片</td>
                        <td>商品名称</td>
                        <td>商品数量</td>
                        <td>商品单价</td>
                        <td>商品总价</td>
                    </tr>
                    <volist name="checkout" id="checkout">
                        <tr>
                            <td style="vertical-align: middle"><img
                                    src="__PUBLIC__/Uploads/commodity_image/{$checkout.commodity_image}"
                                    style="width: 60px"/></td>
                            <td style="vertical-align: middle">{$checkout.commodity_name}</td>
                            <td style="vertical-align: middle">{$checkout.commodity_num}</td>
                            <td style="vertical-align: middle">￥{$checkout.commodity_price}</td>
                            <td style="vertical-align: middle">￥{$checkout.commodity_total_price}</td>
                        </tr>
                    </volist>
                </table>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td class="text-left"><strong>商品数量</strong>
                        </td>
                        <td class="text-right"><span
                                id="cart_num_table">{$cart_data.cart_num}</span> 件
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left"><strong>总价</strong>
                        </td>
                        <td class="text-right">￥<span id="total_price_table">{$cart_data.total_price}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form id="checkout_form" action="" method="post" enctype="multipart/form-data"
                      class="form-horizontal account-register clearfix">
                    <fieldset id="account">
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-fax">确认收货地址：</label>
                            <div class="col-sm-10">
                                <input type="text" name="address" value="{$user_detail.address}" placeholder="请输入你的收货地址"
                                       id="input-fax"
                                       class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-fax">确认联系手机号：</label>
                            <div class="col-sm-10">
                                <input type="text" name="telephone" value="{$user_detail.telephone}" placeholder="请输入你的联系电话"
                                       id="input-fax"
                                       class="form-control" required>
                            </div>
                        </div>
                    </fieldset>
                    <div class="buttons">
                        <div class="pull-right">
                            <input type="button" value="确认信息，立即结算" class="btn btn-primary" onclick="create_order()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--Middle Part End-->
    </div>
    <!-- Footer Container -->
    <include file="public/foot"/>
    <!-- //end Footer Container -->

</div>

<!-- Include Libs & Plugins
	============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/libs.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/unveil/jquery.unveil.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/datetimepicker/moment.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/jquery-ui/jquery-ui.min.js"></script>


<!-- Theme files
============================================ -->


<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/addtocart.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/application.js"></script>
<script type="text/javascript" src="__PUBLIC__/frontdesk/js/themejs/cpanel.js"></script>
<script src="__PUBLIC__/PostbirdAlertBox/js/postbirdAlertBox.min.js"></script>

</body>
</html>

